<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>Text Utils</title>
    <style>
      .hey{
      height:50vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
.hey a{
    height:100px;
    width:100px;
    background-color: whitesmoke;
    border-radius:20px;
    text-align: center;
    margin:10px;
    box-shadow: 1px 4px 2px 2px #95a5a6;
}
.hey a i{
    padding:30px;
    transition: all 0.3s linear;
}
.hey a:hover i{
    transform:scale(1.4);
}
.fa-facebook-f{
     color:#2d3436;
}
.fa-instagram{
     color:#2d3436;
}
.fa-github-square{
     color:#2d3436;
}
.fa-linkedin-in{
     color:#2d3436;
}
body{
    background-color: #49A670;
}



    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Text Utils.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact Us</a>
      </li>

    </ul>
  </div>
      <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hurry Contact Us!!!!!!</strong>   make connection with us
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <div class=" col-lg-4 col-md-4 col-sm-4 container justify-content-center ">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="arijit2.jpeg" class="card-img" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Contact us now</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

  </div>
  </div>
      <div class="hey">
      <a href="https://www.facebook.com/arijit%20indu"target="_blank">
                <i class="fab fa-2x fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com">
                <i class="fab fa-2x fa-instagram"></i>
            </a>
            <a href="https://www.github.com">
                <i class="fab fa-2x fa-github-square"></i>
            </a>
            <a href="https://www.linkedin.com">
                <i class="fab fa-2x fa-linkedin-in"></i>
            </a>
        </div>
      <section class="call">
            <article class="py-5 text-capitalize text-center text-white">
                <div>
                    <h3 class="display-4 ">+91 9836760223</h3>
                    <p>if you want best service call us</p>
                    <button class="btn btn-dark">Contact Now</button>
                </div>
            </article>
        </section>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>